.checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    color: #333;
}

.checkbox__input input {
    opacity: 0;
    width: 1em;
    height: 1em;
}

.checkbox__control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    border: 2px solid #333;
}

.checkbox__input {
    display: grid;
    grid-template-areas: "checkbox";
    
}

.checkbox__input > * {
    grid-area: checkbox;
}

.checkbox__control svg {
    opacity: 0;
}

.checkbox__input input:checked
+ .checkbox__control svg {
    height: 1.5em;
    width: 1.5em;
    opacity: 1;
    transform: translateY(-0.75em);
    transition: all 100ms;
}

.checkbox__input input:focus
 + .checkbox__control {
  box-shadow: 0 0 4px #333;
}