

@font-face {
  font-family: "OverTheRainbow";
  src: local("OverTheRainbow"),
    url("./assets/fonts/OvertheRainbow.ttf") format("truetype");
  font-weight: normal;
}

.text--over-the-rainbow {
  font-family: OverTheRainbow;
}

.text--bold {
  font-weight: bold;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
