*{
  box-sizing: border-box;
}

@font-face {
  font-family: "OverTheRainbow";
  src: local("OverTheRainbow"),
    url("./assets/fonts/OvertheRainbow.ttf") format("truetype");
  font-weight: normal;
}

.container {
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
  margin-right: auto;
  margin-left: auto;
}
.mt-3{
  margin-top: 0.75rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.75rem;
}

.text--small {
  font-size: 0.85em;
}

.text--over-the-rainbow {
  font-family: OverTheRainbow;
}

.text--bold {
  font-weight: bold;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


